.explanations
    &__container
        max-width: 1920px
        padding: 11px 20px 16px 20px
        margin: auto
    &__title
        color: lighten($black, 6.5%)
        font-size: 36px
        font-weight: 400
        line-height: 60px
        margin: 0
    &__items
        padding-left: 0
    &__item
        list-style-type: none
        