.header
    width: 100%
    min-height: 65px
    top: 0
    background-color: $white
    z-index: 99
    &__container
        max-width: 1920px
        margin: auto
    &__menu
        display: flex
        justify-content: space-between
        align-items: center
        padding: 11px 20px 16px 20px
    &__logo
        height: 38px
    &__image
        width: 191px
        height: 38px
    &__burger
        display: flex
        align-items: center
        width: 24px
        height: 18px
    &__burger-line
        width: 24px
        height: 3px
        background: $black
        border: none
        cursor: pointer
        z-index: 15
        border-radius: 3px
        &::before
            content: ''
            position: absolute
            width: 24px
            height: 3px
            background: $black
            transition: transform 0.2s
            margin-top: -7px
        &::after
            content: ''
            position: absolute
            width: 24px
            height: 3px
            background: $black
            transition: transform 0.2s
            margin-top: 7px
    &__nav
        display: flex
        flex-direction: column
        justify-content: center
        border-top: darken($white, 40%) solid 2px
        margin: 0
    &__link
        font-family: 'Oswald Medium', 'Arial', sans-serif
        font-size: 20px
        line-height: 20px
        text-transform: uppercase
        text-align: center
        text-decoration: none
        color: lighten($black, 6.5%)
        padding: 24px 0
        border-bottom: darken($white, 40%) solid 2px

